force-app/Exercises/main/default/flows/Flow_Contact_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assignment010_Contact_Record_Fields</name>
        <label>Assignment010 Contact Record Fields</label>
        <locationX>540</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>recordContactToInsert.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputContactTitle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create010_Contact</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Flow Contact Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Contact Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create010_Contact</name>
        <label>Create010 Contact</label>
        <locationX>705</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>Screen030_Contact_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen040_Display_Fault</targetReference>
        </faultConnector>
        <inputReference>recordContactToInsert</inputReference>
    </recordCreates>
    <screens>
        <name>Screen010_Input_Contact_Name_and_Phone</name>
        <label>Screen010 Input Contact Name and Phone</label>
        <locationX>115</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen020_Input_Contact_Title</targetReference>
        </connector>
        <fields>
            <name>inputContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordContactToInsert.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordContactToInsert.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>inputContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordContactToInsert.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen020_Input_Contact_Title</name>
        <label>Screen020 Input Contact Title</label>
        <locationX>318</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment010_Contact_Record_Fields</targetReference>
        </connector>
        <fields>
            <name>inputContactTitle</name>
            <dataType>String</dataType>
            <fieldText>Contact Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen030_Contact_Created</name>
        <label>Screen030 Contact Created</label>
        <locationX>894</locationX>
        <locationY>297</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaySuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 32, 96); font-family: &amp;quot;Courier New&amp;quot;; font-size: 11pt;&quot;&gt;You created the following Contact...&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 32, 96); font-family: &amp;quot;Courier New&amp;quot;; font-size: 11pt;&quot;&gt;ID: {!recordContactToInsert.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 32, 96); font-family: &amp;quot;Courier New&amp;quot;; font-size: 11pt;&quot;&gt;First Name: {!recordContactToInsert.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 32, 96); font-family: &amp;quot;Courier New&amp;quot;; font-size: 11pt;&quot;&gt;Last Name: {!recordContactToInsert.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 32, 96); font-family: &amp;quot;Courier New&amp;quot;; font-size: 11pt;&quot;&gt;Phone: {!recordContactToInsert.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 32, 96); font-family: &amp;quot;Courier New&amp;quot;; font-size: 11pt;&quot;&gt;Title: {!recordContactToInsert.Title}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen040_Display_Fault</name>
        <label>Screen040 Display Fault</label>
        <locationX>711</locationX>
        <locationY>505</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 32, 96); font-family: &amp;quot;Salesforce Sans&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Screen010_Input_Contact_Name_and_Phone</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordContactToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
